h1 {
    text-align: center;
    color: white;
    background-color: blue;
    fonte-sizy: 150px;
  }
  body{
    background-color: black;
  }
  .descricao{
    color: white;
    text-align: center;
  }